<!DOCTYPE html>
<html>
<head>
    {% block meta %}
        <title>{% block title %}Panel administracyjny - {{ cms_config.get('seo_title', '') }}{% endblock %}</title>
        <meta name="Description" content="{% block description %}{{ cms_config.get('seo_description', '') }}{% endblock %}" />
        <meta name="Keywords" content="{% block keywords %}{{ cms_config.get('seo_keywords', '') }}{% endblock %}" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}
    {% block stylesheets %}
        <link href="{{ asset('bundles/lscore/common/jquery-ui-1.11.4/jquery-ui.min.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ asset('bundles/lscore/common/bootstrap-3.3.6/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ asset('bundles/lscore/common/bootstrap-3.3.6/css/bootstrap-theme.min.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ asset('bundles/lscore/common/fileupload-9.12.3/css/jquery.fileupload.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ asset('bundles/lscore/admin/css/style.css') }}" rel="stylesheet" type="text/css" media="all" />
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/lscore/front/images/favicon.png') }}" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
{% set menu = knp_menu_get('LsCoreBundle:BackendMenu:managedMenu', []) %}
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="{{ path('ls_core_admin') }}"></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            {% if (is_granted('IS_AUTHENTICATED_FULLY') or is_granted('IS_AUTHENTICATED_REMEMBERED')) %}
{#                {% if (is_granted('ROLE_ADMIN')) %}#}
                    {{ knp_menu_render(menu, {currentAsLink: false, 'template': 'LsCoreBundle:Backend:menu.html.twig'}) }}
{#                {% endif %}#}
                <p class="navbar-text navbar-right" style="margin-right: 0px;">
                    <a href="{{ path('ls_user_admin_logout') }}" class="navbar-link">Wyloguj</a>
                    {% if (is_granted('ROLE_ADMIN')) %}
                        <a href="{{ path('ls_core_homepage') }}" class="navbar-link site-preview" target="_blank">Podgląd strony</a>
                    {% endif %}
                </p>
                <p class="navbar-text navbar-right">
                    <span>Zalogowany jako:&nbsp;</span>
                    <span class="navbar-link">{{ app.user.username }}</span>
                </p>
            {% endif %}
        </div>
    </div>
</nav>

<div class="container">
    {% block body %}{% endblock %}
</div>

{% block modals %}
{% endblock %}

<div id="loading-indicator"></div>
<div id="loading-indicator-background"></div>

{% block javascripts %}
    <script src="{{ asset('bundles/lscore/common/jquery-1.12.3.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lscore/common/jquery-ui-1.11.4/jquery-ui.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lscore/common/jquery.ui.datepicker-pl.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lscore/common/jquery.ui.touch-punch.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lscore/common/jquery.mjs.nestedSortable.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lscore/common/bootstrap-3.3.6/js/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lscore/common/ckeditor-3.6.6.2/ckeditor.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lscore/common/ckeditor-3.6.6.2/adapters/jquery.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lscore/common/fileupload-9.12.3/js/jquery.iframe-transport.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lscore/common/fileupload-9.12.3/js/jquery.fileupload.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lscore/admin/js/main.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lscore/admin/js/wysiwyg.js') }}" type="text/javascript"></script>
{% endblock %}
</body>
</html>