<!DOCTYPE html>
<html>
<head>
    {% block meta %}
        <title>{% block title %}{{ cms_config.get('seo_title', '') }}{% endblock %}</title>
        
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <meta name="Description" content="{% block description %}{{ cms_config.get('seo_description', '') }}{% endblock %}" />
        <meta name="Keywords" content="{% block keywords %}{{ cms_config.get('seo_keywords', '') }}{% endblock %}" />
    {% endblock %}
    
    {% block stylesheets %}
        <link href="{{ asset('bundles/lscore/front/css/normalize.css') }}" type="text/css" rel="stylesheet" media="all" />
        <link href="{{ asset('bundles/lscore/front/css/style.css') }}" type="text/css" rel="stylesheet" media="all" />
    {% endblock %}
    
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/lscore/front/images/favicon.png') }}" />
</head>
<body>
    {% set currentRoute = app.request.attributes.get('_route') %}

    <div id="page">
    	<div class="top">
            <a href="{{ path('ls_core_homepage') }}" class="logo"></a>
    	</div>
    	<div class="main">
            <div class="column left">
                <div class="title">Stacja paliw</div>
                <div class="content">
                    Stacja paliw poza sprzedażą paliwa, LPG oraz oleju napędowego oferuje również przekąski, alkohol oraz gazy techniczne, m.in. dwutlenek węgla, argon, tlen, acetylen i inne.
                    <img class="logo-mini" src="{{ asset('bundles/lscore/front/images/logo-mini.png') }}" alt="logo"/>
                    <b>Stacja wyposażona jest w autorski system informatyczny</b> umożliwiający śledzenie historii tankowań pojazdów flotowych klientów biznesowych. Za pomocą dostępnej z każdego miejsca aplikacji internetowej (flota.auto-marian.com.pl) mogą oni sprawdzać takie dane jak:
                    <br />
                    <div class="two-side-list">
                        <ul>
                            <li>data dokonania tankowania</li>
                            <li>numer rejestracyjny pojazdu</li>
                            <li>imię i nazwisko kierowcy</li>
                        </ul>
                        <ul>
                            <li>ilość zatankowanego paliwa</li>
                            <li>wartość transakcji</li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    Dostęp do tych informacji umożliwia zastowanie kart flotowych, w które wyposażeni są kierowcy.
                    <div class="clear"></div>
                    <a class="login-button" href="{{ path('ls_core_admin') }}">Zaloguj się do systemu</a>
                    <div class="bottom-line"></div>
                </div>
                <ul class="address">
                    <li class="cityAndStreet"><a href="https://www.google.pl/maps/place/Obwodowa+1,+23-200+Kraśnik" target="_blank">ul. Obwodowa 1a, 23-200 Kraśnik</a></li>
                    <li class="phone">tel. (81) 825 31 05</li>
                    <li class="email"><a href="mailto:stacja@auto-marian.com.pl">stacja@auto-marian.com.pl</a></li>
                </ul>
            </div>
            <div class="column right">
                <div class="title">Sklep z częściami motoryzacyjnymi</div>
                <div class="content">
                    Oferujemy sprzedaż części zamiennych do wszystkich typów pojazdów samochodowych każdej marki.
                    <br /><br />
                    Zapraszamy do kontaktu w sprawie dostępności produktów. <br />
                    Z przyjemnością udzielimy Państwu informacji.

                    <img class="photo1" src="{{ asset('bundles/lscore/front/images/photo1.jpg') }}" alt="zdjęcie nr 1"/>
                    <img class="photo2" src="{{ asset('bundles/lscore/front/images/photo2.jpg') }}" alt="zdjęcie nr 2"/>

                    <div class="bottom-line"></div>
                </div>
                <ul class="address">
                    <li class="cityAndStreet"><a href="https://www.google.pl/maps/place/Spławy+Drugie+3,+23-200+Kraśnik" target="_blank">Spławy II 3b, 23-200 Kraśnik</a></li>
                    <li class="phone">tel. (81) 884 44 28 / fax. (81) 825 29 59</li>
                    <li class="email"><a href="mailto:sklep@auto-marian.com.pl">sklep@auto-marian.com.pl</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <div class="site-wide-line"></div>
    {% block content %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
