{% extends '::backend.html.twig' %}
{% form_theme form with 'LsCoreBundle:Backend:fields.html.twig' %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <strong>Błąd!</strong> {{ flashMessage }}
                    {{ form_errors(form.file) }}
                </div>
            </div>
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <strong>Sukces!</strong> {{ flashMessage }}
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-sm-8">{{ wo_render_breadcrumbs() }}</div>
        <div class="col-sm-4 text-right" style="margin-bottom: 20px;">
            <a href="{{ path('ls_admin_gallery_photo', {'galleryId': gallery.id}) }}" class="btn btn-default">
                <i class="glyphicon glyphicon-list"></i>
                Powrót do listy
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            {{ form_start(form, {'attr': {'id': form.vars.name, 'class': 'form-horizontal', 'novalidate': 'novalidate' }}) }}
            <ul class="nav nav-tabs pills">
                <li class="active">
                    <a data-toggle="tab" href="#tab-ustawienia">Zdjęcie</a>
                </li>
            </ul>

            <div class="tab-content" style="margin-top: 15px;">
                <div id="tab-ustawienia" class="tab-pane active">
                    <div class="form-group" style="margin-bottom: 0px;">
                        <div class="control-label col-sm-3">&nbsp;</div>
                        <div class="col-sm-9">
                            <p class="help-block">Nie mniejsze niż {{ size.width }} x {{ size.height }} px</p>
                        </div>
                    </div>
                    <div class="form-group{% if form.file.vars.errors|length %} has-error has-feedback{% endif %}">
                        {{ form_label(form.file, null, {'label_attr': {'class': 'control-label col-sm-3' }}) }}
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input class="form-control" type="text" readonly="readonly" autocomplete="off">
                                <span class="input-group-btn">
                                    <span class="btn{% if form.file.vars.errors|length %} btn-danger{% else %} btn-default{% endif %} btn-file">
                                        Przeglądaj... {{ form_widget(form.file) }}
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                    {% if entity.getPhotoWebPath != null %}
                        <div class="form-group">
                            <div class="control-label col-sm-3">Aktualne zdjęcie</div>
                            <div class="col-sm-9">
                                <img src="{{ entity.getPhotoWebPath() }}?{{ random(10000) }}" style="max-width:100%; height:auto;" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="control-label col-sm-3">&nbsp;</div>
                            <div class="col-sm-9">
                                <p class="help-block">Kliknij w miniaturkę aby wykadrować</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="control-label col-sm-3">Miniatura</div>
                            <div class="col-sm-9">
                                <a href="{{ path('ls_admin_gallery_photo_crop', {'galleryId': gallery.id, 'id': entity.id, 'type' : 'detail'}) }}" title="Kadruj zdjęcie" style="display: block; cursor: pointer; float: left;" />
                                <img src="{{ entity.getThumbWebPath('detail') }}?{{ random(10000) }}" style="max-width:100%; height:auto;" />
                                </a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div style="border-top: 1px solid #ddd; margin-bottom: 15px;"></div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary' }}) }}
                    {{ form_widget(form.submit_and_list, {'attr': {'class': 'btn btn-default' }}) }}
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}