body {
    background: #fff;
    position: relative;
    font-family: Calibri, sans-serif;
    font-weight: normal;
}

a {
    outline: none;
    text-decoration: none;
}

.clear {
    clear: both;
}

#page {
    width: 980px;
    margin: 0 auto 72px auto;
    position: relative;
}

.top {
    height: 244px;
    background: url('../images/top.jpg') no-repeat;
    overflow: hidden;
}

.top .logo {
    width: 261px;
    height: 64px;
    display: block;
    margin-top: 89px;
    background: url('../images/logo.png') no-repeat;
}

.site-wide-line {
    height: 7px;
    width: 100%;
    position: absolute;
    top: 244px;
    left: 0;
    background: #efefef;
}

.main {
    margin-top: 46px;
    position: relative;
}

.main .column {
    width: 461px;
}

.main .column .title {
    color: #303030;
    font-size: 24px;
    font-weight: bold;
    line-height: 56px;
}

.main .column .content {
    margin-top: 17px;
    font-size: 15px;
    color: #303030;
    line-height: 20px;
}

.main .column .bottom-line {
    height: 7px;
    background: #efefef;
}

.main .column .address {
    margin: 26px 0 0 0;
    padding: 0;
    list-style: none;
}

.main .column .address li {
    line-height: 46px;
    padding-left: 41px;
    background-repeat: no-repeat;
    background-position: 0 center;
}

.main .column .address li,
.main .column .address a {
    font-size: 18px;
    color: #1e1e1e;
}

.main .column .address a:hover {
    text-decoration: underline;
}

.main .column .address .cityAndStreet {
    background-image: url('../images/pin.png');
}

.main .column .address .phone {
    background-image: url('../images/phone.png');	
}

.main .column .address .email {
    background-image: url('../images/email.png');
}

.main .left {
    float: left;
}

.main .left .title {
    padding-left: 54px;
    background: url('../images/gas-station.png') no-repeat 1px 8px;
}

.main .left .logo-mini {
    display: block;
    margin: 46px 0 29px;
}

.main .left .two-side-list {
    margin: 17px 0 16px;
}

.main .left .two-side-list ul {
    float: left;
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 24px;
}

.main .left .two-side-list li:before {
    content: "-";
    margin-right: 4px;
}

.main .left .two-side-list ul:first-child {
    width: 220px;
}

.main .left .two-side-list ul:nth-child(2) {
    margin-left: 36px;
    width: 205px;
}

.main .left .login-button {
    display: inline-block;
    margin: 36px 0 40px 120px;
    line-height: 47px;
    color: #fff;
    padding: 0 28px 0 51px;
    background: #f1b30d url('../images/lock.png') no-repeat 26px 16px;
}

.main .left .login-button:hover {
    transition: all 0.2s linear;
    background-color: #ca970e; 	
}

.main .right {
    float: right;
}

.main .right .title {
    padding-left: 71px;
    background: url('../images/car.png') no-repeat 0px 15px;
}

.main .right image {
    display: block;
}

.main .right .photo1 {
    margin-top: 41px;
}

.main .right .photo2 {
    margin: -44px 0 22px 115px;
}
