{% extends '::frontend.html.twig' %}
{% form_theme form with 'LsCoreBundle:Frontend:fields.html.twig' %}

{% block title %}Kontakt - {{ parent() }}{% endblock %}

{% block content %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div>{{ flashMessage }}</div>
    {% endfor %}
    <div>
        {{ form_start(form, {'attr': {'id': form.vars.name, 'novalidate': 'novalidate' }}) }}
        {{ form_row(form.name) }}
        {{ form_row(form.email) }}
        {{ form_row(form.content) }}
        {#{{ form_row(form.google_recaptcha, {'attr': {'class': 'g-recaptcha' }}) }}#}
        {{ form_end(form) }}
    </div>
{% endblock %}