{% extends '::backend.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}
    <div class="panel panel-default drop-shadow user-password-recovery-request">
        <div class="panel-heading">Zmiana hasła</div>

        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <strong>Wystąpił błąd!</strong> {{ flashMessage }}<br />
                {{ form_errors(form.password) }}
            </div>
        {% endfor %}
        
        {{ form_start(form, {'attr': {'id': form.vars.name, 'class': 'form-horizontal', 'novalidate': 'novalidate' }}) }}
            <div class="col-sm-offset-1 col-sm-6">
                {{ form_widget(form.password) }}
            </div>

            <div class="col-sm-offset-1 col-sm-6">
                <input type="submit" class="btn btn-primary" value="Zmień" />
            </div>

            <div class="clearfix"></div>
        {{ form_end(form) }}
    </div>
{% endblock %}
